
name: Waka Readme Stats
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    name: Update WakaTime stats in README
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_TOTAL_CODE_TIME: False
          SHOW_TIMEZONE: False
          SHOW_LANGUAGE: true
          SHOW_OS: False
          SHOW_PROJECTS: False
          SHOW_EDITORS: False
          SHOW_LOC_CHART: False
          SHOW_SHORT_INFO: False
          SHOW_DAYS_OF_WEEK: False
          SHOW_COMMIT: False
          SHOW_LINES_OF_CODE: False
          SHOW_PROFILE_VIEWS: false
          SHOW_UPDATED_DATE: False
          
